#serverAddress {
  position: absolute;
  left: 45%;
  top: 37%;
  display: none;
}
#lobbyCode {
  position: absolute;
  left: 45%;
  top: 53%;
  display: none;
}
#username {
  position: absolute;
  left: 45%;
  top: 69%;
  display: none;
}
#joinButton {
  position: absolute;
  left: 45%;
  top: 80%;
  display: none;
  font-family: "Courier";
}

#chaserVisionLabel {
  left: 15px;
  top: 20px;
}
#chaserVision {
  left: 10px;
  top: 40px;
}
#runnerVisionLabel {
  left: 15px;
  top: 60px;
}
#runnerVision {
  left: 10px;
  top: 80px;
}
#chaserSpeedLabel {
  left: 15px;
  top: 100px;
}
#chaserSpeed {
  left: 10px;
  top: 120px;
}
#runnerSpeedLabel {
  left: 15px;
  top: 140px;
}
#runnerSpeed {
  left: 10px;
  top: 160px;
}
#roundLengthLabel {
  left: 15px;
  top: 180px;
}
#roundLength {
  left: 10px;
  top: 200px;
}
.properties {
  position: absolute;
  display: none;
  color: white;
  font-family: "Courier";
  white-space: nowrap;
}
