#serverAddress {
  position: absolute;
  left: 350px;
  top: 230px;
  display: none;
}
#lobbyCode {
  position: absolute;
  left: 350px;
  top: 330px;
  display: none;
}
#username {
  position: absolute;
  left: 350px;
  top: 430px;
  display: none;
}
#joinButton {
  position: absolute;
  left: 350px;
  top: 530px;
  display: none;
  font-family: "Courier";
}
.menuInputs {
  position: absolute;
  display: none;
  font-family: "Courier";
}

#chaserVisionLabel {
  left: 15px;
  top: 20px;
}
#chaserVision {
  left: 10px;
  top: 40px;
}
#runnerVisionLabel {
  left: 15px;
  top: 60px;
}
#runnerVision {
  left: 10px;
  top: 80px;
}
#chaserSpeedLabel {
  left: 15px;
  top: 100px;
}
#chaserSpeed {
  left: 10px;
  top: 120px;
}
#runnerSpeedLabel {
  left: 15px;
  top: 140px;
}
#runnerSpeed {
  left: 10px;
  top: 160px;
}
#roundLengthLabel {
  left: 15px;
  top: 180px;
}
#roundLength {
  left: 10px;
  top: 200px;
}
.properties {
  position: absolute;
  display: none;
  color: white;
  font-family: "Courier";
}
